$ebony-clay: #282f39;
$nile-blue: #24445E;
$spring-wood: #F4F2EB;
$silver-sand: #B1B9BC;
$petite-orchid: #E09C9D;
$mandy: #E75C62;

// $gun-powder: #44425D;
// $martinique: #2E2E4D;
// $dolphin: #66667B;
// $eggplant: #6E4250;

$white: #fff;
